{%- block time_widget -%}
    <div class="input-group clockpicker" {{ block('widget_container_attributes') }}>
        <input id="{{ form.vars.id }}" readonly="readOnly" name="{{ form.vars.full_name }}" type="text" class="form-control" value="{{ value }}">
    </div>
{%- endblock time_widget -%}
{%- block checkbox_widget -%}
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input"  type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        </label>
    </div>
{%- endblock checkbox_widget -%}

{%- block choice_widget_collapsed -%}
    <div class="form-group">
        {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
            {% set required = false %}
        {%- endif -%}
        <select class="multiselect" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {%- if placeholder is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
            {%- endif -%}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {%- if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif -%}
            {%- endif -%}
            {%- set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>
    </div>
{%- endblock choice_widget_collapsed -%}