{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12">
        <h1>Edit {{ person.name }}</h1>
    </div>

    <div class="col-12">
        {{ form_start(edit_form) }}
        <div class="form-group">
            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.alias) }}
            {{ form_row(edit_form.email) }}
            {{ form_row(edit_form.phone) }}
        </div>

        <button class="btn btn-primary" type="submit">{% trans %}save{% endtrans %}</button>
        {{ form_end(edit_form) }}
    </div>

    <div class="col-12">
        {{ form_start(delete_form) }}
        <button class="btn btn-sm btn-danger pull-right" type="submit">{% trans %}delete{% endtrans %}</button>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
