{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12">
        <h1>Sign up for this shift</h1>
    </div>

    <div class="col-12">
        {{ form_start(form) }}
            <div class="form-group">
                {% if app.user.username is defined %}
                    {{ form_row(form.name, {'value': app.user.username}) }}
                    {{ form_row(form.alias, {'value': app.user.username}) }}
                    {{ form_row(form.email, {'value': app.user.email}) }}
                    {{ form_row(form.phone) }}
                {% else %}
                    {{ form_row(form.name) }}
                    {{ form_row(form.alias) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.phone) }}
                {% endif %}
            </div>

            {% if form.vars.errors[0] is defined %}
                <div class="alert alert-danger">
                    {{ form.vars.errors[0].message }}
                </div>
            {% endif %}
            <input class="btn btn-primary" type="submit" value="{% trans %}enroll{% endtrans %}" />
        {{ form_end(form) }}
    </div>
{% endblock %}
