{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12">
        <h1>Sign up for this shift</h1>
    </div>

    <div class="col-12">
        <div class="form-group">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.alias) }}
            {{ form_row(form.email) }}
            {{ form_row(form.phone) }}
        </div>
        <input class="btn btn-primary" type="submit" value="Create" />
        {{ form_end(form) }}
    </div>

{% endblock %}
