{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12">
        <h1>{% trans %}recover_password_title{% endtrans %}: {{ plan.title }}</h1>
        {% if not success %}
            {{ form_start(form) }}
            {% if not form.vars.valid and form.vars.errors[0].message is defined %}
                <div class="alert alert-danger">
                    {{ form.vars.errors[0].message }}
                </div>
            {% endif %}
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <input class="btn btn-primary" type="submit" value="{% trans %}recover{% endtrans %}"/>
            {{ form_end(form) }}
        {% else %}
            <div class="alert alert-success">{% trans %}check_email{% endtrans %}</div>
            <a href="{{ path('plan_show', { 'id': plan.id }) }}" class="btn btn-primary">{% trans %}back{% endtrans %}</a>
        {% endif %}
    </div>
{% endblock %}
