{% extends 'base.html.twig' %}
    {% block body %}
        <div class="col-12">
            <h1>{% trans %}edit{% endtrans %}</h1>
        </div>

        <div class="col-12">
            {{ form_start(edit_form) }}
            <div class="form_edit-group">
                {{ form_label(edit_form.title) }}
                {{ form_errors(edit_form.title) }}
                {{ form_widget(edit_form.title) }}
                <div {% if plan.isTemplate %}style="display: none"{% endif %}>
                    {{ form_row(edit_form.date) }}
                    {{ form_row(edit_form.isPublic) }}
                </div>
                {{ form_row(edit_form.description) }}
                <div {% if plan.isTemplate %}style="display: none"{% endif %}>
                {{ form_row(edit_form.email) }}
                </div>
                <div style="display: none">
                    {{ form_row(edit_form.isTemplate) }}
                </div>
            </div>
            <hr>
            <h3>{% trans %}shifts{% endtrans %}</h3>
            <ul class="shifts list-unstyled" data-prototype="{{ form_widget(edit_form.shifts.vars.prototype)|e('html_attr') }}">
                {% for shift in edit_form.shifts %}
                    <li>{{ form_widget(shift) }}</li>
                    <hr>
                {% endfor %}
            </ul>
            <input class="btn btn-primary" type="submit" value="{% trans %}save{% endtrans %}" />
            {{ form_end(edit_form) }}
        </div>
        <div class="col-12">
            {{ form_start(delete_form) }}
            <input class="btn btn-sm btn-danger pull-right" type="submit" value="{% trans %}delete{% endtrans %}">
            {{ form_end(delete_form) }}
        </div>
{% endblock %}
