{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12 d-flex justify-content-end">
        <h1 class="mr-auto p-2">{% trans %}master_templates{% endtrans %}</h1>
    </div>

    <div class="col-12">
        {% if pagination.items is not empty%}
        <table class="table table-responsive">
            <thead class="thead-default">
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'title'|trans, 'p.title') }} <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>{% trans %}description{% endtrans %}</th>
                <th>{% trans %}public{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for plan in pagination %}
                <tr>
                    <th><a href="{{ path('plan_show', { 'id': plan.id }) }}">{{ plan.title }}</a></th>
                    <td>{{ plan.description }}</td>
                    <td>
                        {% if plan.isPublic %}
                            <i class="fa fa-check" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-cross" aria-hidden="true"></i>
                        {% endif %}
                    </td>
                    <td><a href="{{ path('plan_edit', { 'id': plan.id }) }}">edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                <strong>{% trans %}warning{% endtrans %}</strong> {% trans %}no_templates_defined{% endtrans %}
            </div>
        {% endif %}
    </div>
{% endblock %}
