{% extends 'base.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block body %}
    <div class="col-12">
        <h1>{% trans %}new_shift_plan{% endtrans %}</h1>
    </div>

    <div class="col-12">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.title) }}
            <div>
                {{ form_row(form.date) }}
            </div>
            {{ form_row(form.description) }}
            <div>
                {{ form_row(form.isTemplate) }}
                <div id="isPublic" style="display: none;">
                    {{ form_row(form.isPublic) }}
                </div>
            </div>
        </div>
        <h3>{% trans %}shifts{% endtrans %}</h3>
        {% if form.vars.errors is not empty %}
            {{ form_errors(form) }}
        {% endif %}
        <ul class="shifts list-unstyled" data-prototype="{{ form_widget(form.shifts.vars.prototype)|e('html_attr') }}">
            {% for shift in form.shifts %}
                <li class="card">{{ form_widget(shift) }}</li>
            {% endfor %}
        </ul>
        <button class="btn btn-primary" type="submit">{% trans %}create{% endtrans %}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
