{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12">
        <h1>New Event Plan</h1>
    </div>

    <div class="col-12">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.title) }}
            {{ form_row(form.date) }}
            {{ form_row(form.email) }}
            {{ form_row(form.description) }}
        </div>

        <div {% if not is_granted('ROLE_ADMIN') %}style="display:none"{% endif %}>
            <div class="form-check">
                {{ form_row(form.isTemplate) }}
            </div>
        </div>
        <hr>
        <h3>Shifts</h3>
        {% if form.vars.errors is not empty %}
            <div class="alert alert-danger">
                {{ form_errors(form) }}
            </div>
        {% endif %}
        <ul class="shifts list-unstyled" data-prototype="{{ form_widget(form.shifts.vars.prototype)|e('html_attr') }}">
            {% for shift in form.shifts %}
                <li>{{ form_widget(shift) }}</li>
            {% endfor %}
        </ul>
        <input class="btn btn-primary" type="submit" value="Create" />
        {{ form_end(form) }}
    </div>
{% endblock %}
