{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plan creation</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.date) }}
        {{ form_row(form.description) }}
        <hr>
        {% for shift in form.shifts %}
            <li>{{ form_widget(shift) }}</li>
        {% endfor %}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('plan_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
