{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12">
        <h1>New Event Plan</h1>
    </div>

    <div class="col-12">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.title) }}
            {{ form_row(form.date) }}
            {{ form_row(form.description) }}
            <div {% if not is_granted('ROLE_ADMIN') %}style="display:none"{% endif %}>
                {{ form_row(form.isTemplate) }}
            </div>
        </div>
        <hr>
        <h3>Shifts</h3>
        <ul class="shifts list-unstyled" data-prototype="{{ form_widget(form.shifts.vars.prototype)|e('html_attr') }}">
        </ul>
        <input class="btn btn-primary" type="submit" value="Create" />
        {{ form_end(form) }}
    </div>
{% endblock %}
