{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plan</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plan.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ plan.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if plan.date %}{{ plan.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ plan.description }}</td>
            </tr>
        </tbody>
    </table>

    {% for shift in plan.shifts %}
        <li>{{ shift.title }}</li>
    {% endfor %}

    <ul>
        <li>
            <a href="{{ path('plan_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('plan_edit', { 'id': plan.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
