{{ 'email_shift_link_title'|trans }}

{{ 'email_shift_link_body_text'|trans }}

{{ 'email_shift_link_text'|trans }} <a href="{{ url('plan_show',{ 'id': plan_id }) }}">{{ url('plan_show',{ 'id': plan_id }) }}</a>

{{ 'email_shift_link_end'|trans }}
