<h1>{{ 'email_shift_link_title'|trans }}</h1>

<p>
    {{ 'email_shift_link_body_html'|trans }}
</p>

<p>
    {{ 'email_shift_link_text'|trans }} <a href="{{ url('plan_show',{ 'id': plan_id }) }}">{{ url('plan_show',{ 'id': plan_id }) }}</a>
</p>

{{ 'email_shift_link_end'|trans }}
