{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12">
        <h1>{% trans %}edit{% endtrans %}</h1>
    </div>

    <div class="col-12">
        {{ form_start(edit_form) }}
        <div class="form_edit-group">
            {{ form_row(edit_form.title) }}
            {{ form_row(edit_form.plans) }}
        </div>

        <input class="btn btn-primary" type="submit" value="{% trans %}save{% endtrans %}" />
        {{ form_end(edit_form) }}
    </div>
    <div class="col-12">
        {{ form_start(delete_form) }}
        <input class="btn btn-sm btn-danger pull-right" type="submit" value="{% trans %}delete{% endtrans %}">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
