{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12">
        <h1>{{ planCollection.title }}</h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans %}title{% endtrans %}</th>
                        <th>{% trans %}link{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for plan in planCollection.plans %}
                    <tr>
                        <td>{{ plan.title }}</td>
                        <td>
                            <a href="{{ path('plan_show', { 'id': plan.id }) }}">
                                {{ url('plan_show', { 'id': plan.id }) }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-12">
        {{ form_start(delete_form) }}
        <input class="btn btn-danger btn-sm pull-right" type="submit" value="{% trans %}delete{% endtrans %}">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}


