{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12">
        <h1>{{ planCollection.title }}</h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans %}plans{% endtrans %}</th>
                        <th>{% trans %}date{% endtrans %}</th>
                        <th>{% trans %}people_needed_for_shift{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for plan in planCollection.plans | sortbyfield('date') %}
                    <tr>
                        <td><a href="{{ path('plan_show', { 'id': plan.id }) }}">{{ plan.title }}</a></td>
                        <td>{{ plan.date|date('d.m.Y') }}</td>
                        {% set total = 0 %}
                        {% set filled = 0 %}
                        {% for shift in plan.shifts  %}
                            {% set total = total + shift.numberPeople %}
                            {% set filled = filled + shift.people.count %}
                        {% endfor  %}
                        <td> {{ filled }} / {{ total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% if (is_granted('ROLE_USER') and app.user.id == planCollection.user.id) %}
    <div class="col-12">
        {{ form_start(delete_form) }}
        <button class="btn btn-danger btn-sm pull-right" type="submit">{% trans %}delete{% endtrans %}</button>
        {{ form_end(delete_form) }}
        <a href="{{ path('plancollection_edit', { 'title': planCollection.title }) }}" class="btn btn-secondary btn-sm">{% trans %}edit{% endtrans %}</a>
    </div>
{% endif %}

{% endblock %}


