{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shifts list</h1>

    <table class="table-responsive">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
        {% for shift in pagination %}
            <tr>
                <td><a href="{{ path('shift_show', { 'id': shift.id }) }}">{{ shift.title }}</a></td>
                <td>{{ shift.description }}</td>
                <td>{% if shift.start %}{{ shift.start|date('H:i') }}{% endif %}</td>
                <td>{% if shift.end %}{{ shift.end|date('H:i') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
